<a href="https://colab.research.google.com/github/deoprakash/NLP_Tutorial/blob/main/NLPDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [2]:
chat1 = 'Me: You ask a lot of questions, 1234567890, abc@xyz.com'
chat2 = 'Me: Here it is: (123)-456-7890, ab34c32@xyz.com'
chat3 = 'me: yes, phone: 123-456-7890, email: abc_fgh_392@xyz.com'

In [3]:
pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{3}-\d{3}-\d{4}|\d{10}'

matches1 = re.findall(pattern, chat1)
matches2 = re.findall(pattern, chat2)
matches3 = re.findall(pattern, chat3)

matches1, matches2, matches3

(['1234567890'], ['(123)-456-7890'], ['123-456-7890'])

In [4]:
emailpattern = '[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'
email1 = re.findall(emailpattern, chat1)
email2 = re.findall(emailpattern, chat2)
email3 = re.findall(emailpattern, chat3)

email1, email2, email3

(['abc@xyz.com'], ['ab34c32@xyz.com'], ['abc_fgh_392@xyz.com'])

In [5]:
newchat1 = 'Me: I am having issue with my order # 412889912'
newchat2 = 'Me: I have problem with order number 412889912'
newchat3 = 'Me: My order id 412889912, charged $10 instead of $2'

In [6]:
orderpatterns = "order [^\d]*(\d*)"

# (\d*) - grouped and print specific portion

ordermatch1 = re.findall(orderpatterns, newchat1)
ordermatch2 = re.findall(orderpatterns, newchat2)
ordermatch3 = re.findall(orderpatterns, newchat3)

ordermatch1, ordermatch2, ordermatch3

(['412889912'], ['412889912'], ['412889912'])

In [26]:
text = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 67)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Occupation	Businessman
Years active	1981–present
Organization	Reliance Industries
Title	Chairman and MD of Reliance Industries
Spouse	Nita Ambani ​(m. 1985)​[3]
Children	3
Parents
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [8]:
agepattern = "age (\d*)"
age = re.findall(agepattern, text)
age

['53']

In [12]:
namepattern = "Born(.*)\n"
name = re.findall(namepattern, text)
name[0].strip()

'Elon Reeve Musk'

In [16]:
birthpattern = 'Born.*\n(.*)\(age'
birth = re.findall(birthpattern, text)
birth[0].strip()

'June 28, 1971'

In [19]:
place_pattern = '\(age.*\n(.*)'
place = re.findall(place_pattern, text)
place[0].strip()

'Pretoria, Transvaal, South Africa'

In [20]:
def get_pattern_match(pattern, text):
  matches = re.findall(pattern, text)
  if matches:
    return matches[0]

In [22]:
get_pattern_match('Born.*\n(.*)\(age', text)

'June 28, 1971 '

In [27]:
def get_personal_info(text):
  age = get_pattern_match('age (\d*)', text)
  full_name = get_pattern_match("Born(.*)\n", text)
  birthdate = get_pattern_match('Born.*\n(.*)\(age', text)
  place  = get_pattern_match('\(age.*\n(.*)', text)

  return {
      'age': int(age),
      'name': full_name.strip(),
      'birth_date': birthdate.strip(),
      'birth_place': place.strip()
  }

In [28]:
 get_personal_info(text)

{'age': 67,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}

1. Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore _

In [32]:
texts = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''

In [43]:
pattern = 'https://twitter.com/([a-z0-9A-Z_]*)'
username = re.findall(pattern, texts)
username

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

2. Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings

(1) Credit Risk

(2) Supply Rish

In [47]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''

pattern = 'Concentration of Risk:(.*)\n'
text_extracted = re.findall(pattern, text)
text_extracted

[' Credit Risk', ' Supply Risk']

3. Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

In [50]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))'
matches = re.findall(pattern, text)
matches

['2021 Q1', '2021 S1']